.container {
  background-color: var(--color-guide-b);
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  padding: var(--size-n);
  list-style: none;
  overflow-y: scroll;
  height: 650px;
  gap: var(--size-s);
}
