.item {
  width: 100%;
  background-color: var(--color-bg-green);
  padding: var(--size-s) var(--size-s);
  border-radius: var(--size-s);
  display: flex;
  align-items: center;
}

.image {
  width: var(--size-xxl);
  height: var(--size-xxl);
  background-color: var(--color-bg-light);
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--color-bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image > img {
  width: var(--size-xl);
}

.profile {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  margin-left: var(--size-s);
}

.name {
  font-size: var(--size-r);
  font-weight: bold;
}

.other {
  font-size: var(--size-n);
  letter-spacing: 0.07rem;
}
