.container {
  background-color: var(--color-guide-b);
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  padding: 0 var(--size-n);
  list-style: none;
  overflow-y: scroll;
  height: 650px;
  gap: var(--size-s);
}

@media screen and (max-height: 900px) {
  .list {
    height: 400px;
  }
}

.input {
  margin-bottom: 0.8rem;
  font-size: var(--size-n);
  border-radius: var(--size-s);
  padding: var(--size-s);
  font-family: inherit;
}
