.container {
  background-color: var(--color-guide-b);
  text-align: center;
  height: var(--height-container);
  padding: var(--size-s);
}

.list {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  padding: var(--size-xs);
  list-style: none;
  overflow-y: scroll;
  /* height: 650px; */
  gap: var(--size-s);
}

.assignView {
  height: 100%;
  max-height: 280px;
}

.input {
  margin-bottom: 0.8rem;
  font-size: var(--size-n);
  border-radius: var(--size-s);
  padding: var(--size-s);
  font-family: inherit;
}

.message {
  margin-top: var(--size-xl);
}
