.container {
  background-color: var(--color-guide-b);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(25rem, 1fr));
  grid-template-rows: repeat(2, minmax(25rem, 1fr));
}

.employee-selected {
  background-color: var(--color-guide-t);
  padding: var(--size-n);
  height: 100%;
  width: 100%;
}

.title {
  margin-bottom: var(--size-n);
  font-size: var(--size-r);
}

.card {
  width: 100%;
  background-color: var(--color-bg-light);
  color: var(--color-bg-dark);
  padding: var(--size-xs);
  border-radius: var(--size-s);
  display: flex;
  align-items: center;
  margin-bottom: var(--size-n);
}

.image {
  width: var(--size-xxl);
  height: var(--size-xxl);
  background-color: var(--color-bg-light);
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--color-bg-dark);
}

.img > img {
  width: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  margin-left: var(--size-s);
}

.name {
  font-size: var(--size-r);
  font-weight: bold;
}

.other {
  font-size: var(--size-n);
  letter-spacing: 0.07rem;
}

.resume {
  font-size: var(--size-r);
}

.resume-data {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  row-gap: var(--size-xs);
}

.label {
  font-weight: bold;
}

.amount {
  justify-self: right;
  margin-left: var(--size-n);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding-block: var(--size-n);
  gap: var(--size-s);
}

.button {
  font-size: var(--size-x);
  border-radius: var(--size-s);
  width: fit-content;
  align-self: flex-end;
  cursor: pointer;
}

.employees-list {
  background-color: var(--color-guide-g);
  width: 100%;
  height: 100%;
}

.assets-list {
  background-color: var(--color-guide-t);
  width: 100%;
  height: 100%;
}

.assets-selected {
  background-color: var(--color-guide-g);
  width: 100%;
  height: 100%;
}
