.app {
  background-color: #313131;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fefefe;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--size-xxl);
}
