html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:root {
  --color-guide-r: #a11a;
  --color-guide-g: #1a1a;
  --color-guide-b: #11aa;
  --color-guide-p: rebeccapurple;
  --color-guide-t: tomato;
  --color-guide-u: peru;

  --color-bg-light: #eee;
  --color-bg-green: rgb(80, 112, 94);
  --color-bg-dark: #333;
  --size-xs: 0.25rem;
  --size-s: 0.5rem;
  --size-ln: 0.75rem;
  --size-n: 1rem;
  --size-r: 1.25rem;
  --size-x: 1.5rem;
  --size-xl: 2rem;
  --size-xxl: 4rem;
}
